---
import { BookIcon, DownloadIcon, GithubIcon, GlobeIcon, HomeIcon } from "astro-feather";
import { Image } from "astro:assets";
import logo from "../images/logo.png"
import discord from "../images/discord.svg?raw"
import github from "../images/github.svg?raw"
import kofi from "../images/kofi.svg?raw"

const base = import.meta.env.BASE_URL;
---

<nav class="
    fixed
    flex flex-col
    justify-stretch items-stretch
    w-full
    bg-quardiary-darkest
    border-b-2 border-b-accent-lightest
    transition-all
">
    <div class="grid sm:grid-cols-3 max-sm:grid-cols-2 justify-center items-center">
        <div class="flex flex-row justify-start items-center gap-3">
            <a class="home-button" href={base}>
                <!-- <Image src={logo} alt="Globed logo" class="w-[24px] h-[24px]"/> -->
                <GlobeIcon/>
                <span class="font-head text-xl">Globed</span>
            </a>
        </div>
        <div class="flex flex-row justify-center max-sm:hidden">
            <a href={base}>
                <HomeIcon/>
                <span class="max-sm:hidden">Home</span>
            </a>
            <a href={`${base}/install`}>
                <DownloadIcon/>
                <span class="max-sm:hidden">Install</span>
            </a>
            <a href={`${base}/about`}>
                <BookIcon/>
                <span class="max-sm:hidden">About</span>
            </a>
        </div>
        <div class="flex flex-row justify-end">
            <a href="https://ko-fi.com/globed">
                <div class="w-[24px]">
                    <Fragment set:html={kofi} />
                </div>
            </a>
            <a href="https://discord.gg/d56q5Dkdm3">
                <div class="w-[24px]">
                    <Fragment set:html={discord} />
                </div>
            </a>
            <a href="https://github.com/dankmeme01/globed2">
                <div class="w-[24px]">
                    <Fragment set:html={github} />
                </div>
            </a>
        </div>
    </div>
    <div id="rollover" class="flex flex-col">
        <a href={base}>
            <HomeIcon/>
            <span>Home</span>
        </a>
        <a href={`${base}/install`}>
            <DownloadIcon/>
            <span>Install</span>
        </a>
        <a href={`${base}/about`}>
            <BookIcon/>
            <span>About</span>
        </a>
    </div>
</nav>

<script define:vars={{ base }}>
    document.querySelectorAll('.home-button').forEach(btn => {
        btn.addEventListener('click', e => {
            e.preventDefault();
            if (window.matchMedia("(max-width: 640px)").matches) {
                document.querySelector('nav')?.classList.toggle('open');
            }
            else {
                window.location.href = base;
            }
        });
    });
</script>

<style>
    nav > #rollover {
        @apply
            max-h-0
            transition-all
            overflow-hidden;
        
        transition-duration: 350ms;
    }
    nav.open > #rollover {
        @apply
            max-h-44;
    }

    a {
        @apply
            p-3
            flex flex-row gap-2
            items-center
            text-accent-lightest
            fill-accent-lightest
            transition-colors;
    }
    a:hover {
        @apply
            text-tertiary-lighter
            fill-tertiary-lighter
            cursor-pointer;
    }
</style>
